@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:700");

/* Extra small devices (phones, 600px and down) */
@media all and (max-width: 600px) {
	#container{
		grid-template-rows: 44px auto auto !important;
	}
	
	
	#header {
		display: flex;
		background: #ffffff;
		overflow: hidden;
		flex-wrap: wrap;
		position: relative;
		align-items: center;
		justify-content: space-between;
		box-shadow: 0px 5px 0px #dedede;
		grid-area: header;
		background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
		transition: height 0.3s ease-in-out;
		height: 44px;
	}


	.menu {
		flex-flow: column wrap;
		display: none;
	}

	/* Show small logo */
	#mobile-logo {
		display: block;
		margin-left: 15px;
		max-width: 120px;
		max-height: 120px;
	}

	/* Hide full logo */
	.header-menu img {
		display: none;
	}


	/* When Mobile Dropdown is active */
	/* X button on top right corner */
	.toggle-active #mobile-menu { 
		position: absolute;
		top: 1px;
		right: 2px;
	}

	#header.toggle-active {
		flex-direction: column;
		align-content: flex-start;
		justify-content: flex-start;
		align-items: flex-start;
		height: 176px;
	}

	#header.toggle-active .menu {
		display: block;
		-webkit-animation: fadeIn 0.7s;
    	animation: fadeIn 0.7s;
	}

	/* Position Full Logo on side of menu */
	#header.toggle-active #logo {
		display: block;
		position: absolute;
		max-width: 120px;
		max-height: 120px;
		top: 50%;
        left: 50%;
        margin-right: -50%;
		transform: translate(-40%, -50%);
		-webkit-animation: fadeIn 0.7s;
    	animation: fadeIn 0.7s;
	}

	@-webkit-keyframes fadeIn {
		0%   { opacity: 0; }
		40% { opacity: 0; }
		100% { opacity: 1; }
	}
	@keyframes fadeIn {
		0%   { opacity: 0; }
		40% { opacity: 0; }
		100% { opacity: 1; }
	  }

	/* Hide mobile logo */
	.toggle-active #mobile-logo {
		display: none;
	}

	.shift a {
		position: relative;
		z-index: 1;
	}
	.shift a:hover {
		color: #ffffff !important;
	}
}
/* Desktop menu */
@media all and (min-width: 600px) {
	#header {
		display: flex;
		flex-wrap: nowrap;
		background: #ffffff;
		overflow: hidden;
		align-items: center;
		justify-content: space-evenly;
		box-shadow: 0px 5px 0px #dedede;
		z-index: 100;
		grid-area: header;
		background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
	}

	#mobile-logo {
		display: none;
	}

	#logo {
		display: block;
		max-width: 130px;
		max-height: 130px;
		width: auto;
		height: auto;
	}

	#mobile-title {
		display: none;
	}
	#mobile-menu {
		display: none;
	}

	/* SHIFT */
	.shift a {
		position: relative;
		z-index: 1;
	}
	.shift a:hover {
		color: #ffffff !important;
	}
	.shift a:after {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		width: 100%;
		height: 1px;
		content: ".";
		color: transparent;
		background: hsla(0, 0%, 100%, 0);
		visibility: none;
		opacity: 0;
		z-index: -1;
	}
	.shift a:hover:after {
		opacity: 1;
		visibility: visible;
		height: 100%;
	}

	a::before {
		content: "";
		display: block;
		position: absolute;
		bottom: 3px;
		left: 0;
		height: 3px;
		width: 100%;
		background-color: #ffffff;
		transform-origin: right top;
		transform: scale(0, 1);
		transition: color 0.1s, transform 0.2s ease-out;
	}
	a:active::before {
		background-color: #ffffff;
	}
	a:hover::before,
	a:focus::before {
		transform-origin: left top;
		transform: scale(1, 1);
	}
}

body {
	overflow: hidden;
}

#container {
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-rows: 140px auto auto;
	grid-template-columns: 1fr;
	grid-template-areas:
		"header"
		"content"
		"footer";
}

#footer {
	grid-area: footer;
	padding: 10px;
	display: grid;
	box-shadow: 0px -5px 0px #dedede;
	z-index: 100;
	background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
	grid-template-rows: auto;
	grid-template-columns: 45% 35% 20%;
	font-size: 11px;
	justify-items: start;
	align-items: start;

}

#footer h5 {
	font-size: 18px;
}

#address {
	margin-right: 10px;
}

#contact {
	margin-right: 10px;
}

#content {
	grid-area: content;
	padding: 3%;
	overflow: auto;
}

.food-thumbnail {
	display: inline-block;
	margin: 20px;
	margin-bottom: 50px;
	min-width: 250px;
	height: 30%;
	width: 30%;
}

#carousel {
	z-index: -1;
}

#overlapped-content {
	grid-area: content;
	z-index: 1;
	place-self: center;
	width: 100%;
	margin-bottom: 30%;
	text-align: center;
	background: rgba(0, 0, 0, 0.3);
}

.carousel img {
	object-position: 0px -200px; /* Show bottom part of image */
}

a {
	padding: 10px;
	text-decoration: inherit; /* no underline */
	color: rgb(0, 0, 0) !important;
	font-weight: 500;
	font-size: 16px;
	margin: 0 10px;
	font-family: "Open Sans", sans-serif;
	cursor: pointer;
}

a,
a:after,
a:before {
	transition: all 0.4s;
}
a:hover {
	color: #555;
}

.fa-twitter-square:hover {
	color: #1da1f2;
	cursor: pointer;
}
.fa-facebook-square:hover {
	color: #4267b2;
	cursor: pointer;
}
.fa-instagram-square:hover {
	color: #c13584;
	cursor: pointer;
}

/* Keyframes */
@-webkit-keyframes fill {
	0% {
		width: 0%;
		height: 1px;
	}
	50% {
		width: 100%;
		height: 1px;
	}
	100% {
		width: 100%;
		height: 100%;
		background: #333;
	}
}

/* Keyframes */
@-webkit-keyframes circle {
	0% {
		width: 1px;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		height: 1px;
		z-index: -1;
		background: #eee;
		border-radius: 100%;
	}
	100% {
		background: #aaa;
		height: 5000%;
		width: 5000%;
		z-index: -1;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		border-radius: 0;
	}
}

/* Homepage animated text */
#overlapped-container {
	margin: 0px;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 46px;
	font-weight: bold;
	font-family: "Open Sans", sans-serif;
}

#flip {
	height: 40px;
	overflow: hidden;
}

#flip > div > div {
	color: #fff;
	padding: 10px 12px;
	height: 65px;
	margin-bottom: 45px;
	display: inline-block;
}

#flip div:first-child {
	animation: show 5s linear infinite;
}

#flip div div {
	background: #42c58a;
}
#flip div:first-child div {
	background: #4ec7f3;
}
#flip div:last-child div {
	background: #dc143c;
}

@keyframes show {
	0% {
		margin-top: -270px;
	}
	5% {
		margin-top: -215px;
	}
	33% {
		margin-top: -215px;
	}
	38% {
		margin-top: -115px;
	}
	66% {
		margin-top: -115px;
	}
	71% {
		margin-top: -15px;
	}
	99.99% {
		margin-top: -15px;
	}
	100% {
		margin-top: -270px;
	}
}
